# https://editorconfig.org

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{bash,sh}]
indent_size = tab
indent_style = tab
tab_width = 2

[files/themes/base16-tomorrow-night.tmTheme]
end_of_line = crlf
