[Desktop Entry]
Type=Application
Terminal=false
Name=Obsidian
Exec=obsidian
Icon=obsidian
StartupWMClass=obsidian
MimeType=x-scheme-handler/obsidian;
